<div class="modal fade" id="{{ id }}">
	<div class="modal-dialog{% if modal_size is defined %} modal-{{ modal_size }}{% endif %}" style="width: 1000px;" >
		<div class="modal-content">
			<div class="modal-header">
				<h5>{% block header %}{% endblock header %}</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{% block body %}{% endblock body %}
			</div>

			<div class="modal-footer">
				{% block footer %}{% endblock footer %}
			</div>
		</div>
	</div>
</div>
